@import "https://fonts.googleapis.com/css2?family=Public+Sans";
@import "https://fonts.googleapis.com/css2?family=Ubuntu";

body p {
font-family: 'Public Sans', sans-serif;
}
li.nav-item > a
{
color: black !important;
font-size: 16px;
}

#logotext {
color:black !important;
font-weight: 400;
font-size: 25px;
text-decoration:none;
font-family:'Public Sans', sans-serif;
}


.logo_font{
color:#007bff !important;
}

.nav-link{
padding-right:20px !important;

}

.font1 {
            color:#042c66 !important;
            font-size: 36px;
            font-weight:600;
            font-family: 'Public Sans', sans-serif;
}

.font-n {
font-family: 'Public Sans', sans-serif;
}
.b-col {
font-weight:600;
color:#11103E !important;
}

.font2 {
            font-size: 21px;
            line-height: 23px;
            font-family: 'Public Sans', sans-serif;
}

.font3{

            font-size: 26px;
            font-family: 'Public Sans', sans-serif;
}

.font-st {
            color:#052170 !important;
            font-family: 'Public Sans', sans-serif;
}
.font4 {
color:black;
font-weight:600;
font-family: 'Public Sans', sans-serif;
}

.feature-title{
font-size: 1.4em;
font-weight: 600;
color: #052170;

}
.margin1{
margin-bottom:100px;
}

.margin2{
margin-bottom:120px;
}

.margin2{
margin-bottom:80px;
}

.solution-title{

font-size:1em;
margin-top:30px;
color: #333

}
a.solution-title
{
font-size: 1em;
/*color: #333 !important;*/
}

.fb-icon {
font-size:50px;color:#3B5998
}
.solution-icon{

color:gray;font-size:50px

}

.product-feature {
margin-left: -90px;
margin-top: 60px;
}
.case-studies {
font-weight: 600;
font-size: 1.1em;
text-decoration: underline;
}
.case-p {
padding-top:20px;
}

.pricing-li > li {
font-size: 1em;
}
.carousel-item
{
/*background-color: white !important;*/
/*margin-left:140px;*/
}

.mleft {
margin-left:140px;
}


.carousel-indicators {

}

.carousel-indicators li {
background-color: lightgray !important;
}
.carousel-indicators .active{
background-color: black !important;
}
.carousel-control-next {
opacity: 0.65;
}
.cc-span
{
color:black;
font-size:1.3em
}

.margin-account {
margin-left : 0px;
}

.secondaryAction  {
border:0 !important;
}

.primaryAction, .textInput, .btn-primary {
border-radius: 0px !important;
}


.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

.feature-li{
line-height: 1.9em;
}

.product-feature.margin-case {
margin-left: -60px;
}
.margin-pricing {
margin-left :-30px;
}

.btn-more-info {
background-color: #69b7f2;
color:white;
font-size: 0.75em;
}


li.nav-item > a.hptab.active {
background-color:white !important;
color:  #326fb8 !important;
}

li.nav-item > a.hptab {
color: #a2c1e6 !important;
}

#demo {

}

.btn-trial {

}



.conf-box {
	text-align: center;
	/*border: 1px solid #d6d6e6;*/
	border: 1px solid #f2bbfc;
	padding-top: 25px;
	/*box-shadow: 1px 2px 2px 1px rgba(0, 0, 0, 0.1);*/
	max-width: 300px;
	border-radius: 10px;
	height: 140px;
	width: 160px;
	padding-left: 10px;
	padding-right: 10px;
	margin-left: 20px;
	margin-top: 20px;
}

.nav-link {
background-color:white !important;
color: black !important;
}

.feature {
margin-left:-30px;
}

.fbd {
    border-bottom: 4px solid #0066ff;
    padding-bottom: 15px;
}

.black {
color:black !important;
}
.b {
font-weight:500;
}

.f-16 {
font-size:16px;
}

.f-18 {
font-size:18px;
}

.m-imp {
margin-left:140px;
}

.img-box {
    box-shadow: 10px 10px 15px lightgrey;
    border: 1px solid #eae8e8;
}
.feature-ul {
margin-left:20px;
line-height:45px;
font-size: 19px;
font-weight:500;
color:#042c66 !important;
}

.feature-hp {
margin-top:10px;
font-size:18px;
font-weight:600;
font-family: 'Public Sans', sans-serif;

}
.feature-p {
font-size:14px;
color:#626F7F;
font-family: 'Public Sans', sans-serif;
margin-top:-10px;
}
.small {
font-size: 14px;
}
.footer-font {
color:#626F7F;
font-size: 14px;
color:black;
font-family: 'Public Sans', sans-serif;
}
.head-btn-bold {
color:white !important;
font-size: 15px;
font-family: 'Public Sans', sans-serif;
font-weight:600;
}

.m1 {
text-align:center;
margin-bottom:100px;
}